:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #F56B3C, #F8AD22);

    --vp-c-indigo-1: #E9430C;
    --vp-c-indigo-2: #F34E16;
    --vp-c-indigo-3: #F34E16;
    --vp-c-indigo-soft: rgba(255, 110, 57, 0.3);

    --vp-button-alt-bg: #B8FFF3;
    --vp-button-alt-text: var(--vp-c-black);
}

.dark {
    --vp-c-indigo-1: rgb(247, 137, 100);
    --vp-c-indigo-2: #F67A51;
    --vp-c-indigo-3: #F56B3C;
    --vp-c-indigo-soft: rgba(255, 110, 57, 0.4);
}

.name span, .main .text {
    font-size: 48px !important;
    line-height: 54px !important;
}

@media (max-width: 640px) {
    .name span, .main .text {
        font-size: 28px !important;
        line-height: 34px !important;
    }
}

@media (max-width: 960px) {
    .name span, .main .text {
        font-size: 32px !important;
        line-height: 38px !important;
    }
}